@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flexColStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@mixin flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin roboto400{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin robotoBold{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
}