$policeBlack: #242424;
$backgroundHeader: #FFFFFF;
$backgrdMain: #EFEFEF;
$marmiton: #f3735f;

$pad10: 10px;
$pad20: 20px;
$pad30: 30px;

$boxShadow: 0px 0px 4px rgba(0,0,0,0.7);
$boxShadowHeader: 0px 0px 10px $marmiton;